<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Thermos log file (<!--datetime-->)</title>

		<script type="text/javascript" src="template/jquery.min.js"></script>
		<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                zoomType: 'xy'
            },
            title: {
                text: 'Central processing unit'
            },

            xAxis: [{
                categories: [/*time*/]
            }],
            yAxis: [{
  // Primary yAxis
                labels: {
                    formatter: function() {
                        return this.value +/*temperatureFormat*/;
                    },
                    style: {
                        color: '#89A54E'
                    }
                },
                title: {
                    text: 'Temperature',
                    style: {
                        color: '#89A54E'
                    }
                }
            }, { // Secondary yAxis
                title: {
                    text: 'Load',
                    style: {
                        color: '#4572A7'
                    }
                },
                min: 0,
            	max: 100,
                labels: {
                    formatter: function() {
                        return this.value +' %';
                    },
                    style: {
                        color: '#4572A7'
                    }
                },
                opposite: true
            }],
            tooltip: {
            	crosshairs: true,
                shared: true
                
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                x: 120,
                verticalAlign: 'top',
                y: 100,
                floating: true,
                backgroundColor: '#FFFFFF'
            },
            series: [{
                name: 'Load',
                color: '#4572A7',
                type: 'spline',
                yAxis: 1,
                data: [/*CPULoadData*/]
    
            }, {
                name: 'Temperature',
                color: '#89A54E',
                type: 'spline',
                data: [/*CPUTemperature*/]
            }]
        });
    });
    
});

$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'containerGPU',
                zoomType: 'xy'
            },
            title: {
                text: 'Graphics processing unit'
            },
           
            xAxis: [{
                categories: [/*time*/]
            }],
            yAxis: [{ // Primary yAxis
                labels: {
                    formatter: function() {
                        return this.value + /*temperatureFormat*/;
                    },
                    style: {
                        color: '#89A54E'
                    }
                },
                title: {
                    text: 'Temperature',
                    style: {
                        color: '#89A54E'
                    }
                },
                opposite: true
    
            }, {
            	 // Secondary yAxis
                gridLineWidth: 0,
                title: {
                    text: 'Load',
                    style: {
                        color: '#4572A7'
                    }
                },
                min: 0,
            	max: 100,
                labels: {
                    formatter: function() {
                        return this.value +' %';
                    },
                    style: {
                        color: '#4572A7'
                    }
                },
                
    
            }, { // Tertiary yAxis
                gridLineWidth: 0,
                title: {
                    text: 'Fan speed',
                    style: {
                        color: '#AA4643'
                    }
                },
                labels: {
                    formatter: function() {
                        return this.value +' RPM';
                    },
                    style: {
                        color: '#AA4643'
                    }
                },
                opposite: true
            }],
            tooltip: {
                crosshairs: true,
                shared: true
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                x: 120,
                verticalAlign: 'top',
                y: 80,
                floating: true,
                backgroundColor: '#FFFFFF'
            },
            series: [{
                name: 'Load',
                color: '#4572A7',
                type: 'spline',
                yAxis: 1,
                data: [/*GPULoadData*/]
    
            }, {
                name: 'Fan speed',
                type: 'spline',
                color: '#AA4643',
                yAxis: 2,
                data: [/*GPUFanSpeedData*/],
                dashStyle: 'shortdot'
    
            }, {
                name: 'Temperature',
                color: '#89A54E',
                type: 'spline',
                data: [/*GPUtemperaturedata*/]
            }]
        });
    });
    
});

$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'containerMemory',
                zoomType: 'xy'
            },
            title: {
                text: 'Memory'
            },
           
            xAxis: [{
                categories: [/*time*/]
            }],
            yAxis: [{
            	 // Secondary yAxis
                gridLineWidth: 1,
                title: {
                    text: 'memory',
                    style: {
                        color: '#4572A7'
                    }
                },
                labels: {
                    formatter: function() {
                        return this.value +' MB';
                    },
                    style: {
                        color: '#4572A7'
                    }
                },
                
    
            }],
            tooltip: {
                crosshairs: true,
                shared: true
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                x: 120,
                verticalAlign: 'top',
                y: 80,
                floating: true,
                backgroundColor: '#FFFFFF'
            },
            series: [{
                name: 'Free',
                color: '#4572A7',
                type: 'spline',
                data: [/*MemoryFree*/]
    
            }, {
                name: 'Used',
                type: 'spline',
                color: '#AA4643',
                data: [/*MemoryUsed*/],
                dashStyle: 'shortdot'
    
            }, {
                name: 'Total',
                color: '#89A54E',
                type: 'spline',
                data: [/*Memorytotal*/]
            }]
        });
    });
    
});
		</script>
	</head>
	<body>
<script src="template/highcharts.js"></script>
<script src="template/exporting.js"></script>

<center>
	<h2>Central processing unit</h2>
	
	Model name: <!--CPUNameField--><br />
	Frequency: <!--CPUFrequencyField--> MHz<br />
	Total cores: <!--CPUTotalCoreField--><br />
	Logical cores: <!--CPULogCoreField--><br />
	
</center>
<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

<center>
	<h2>Graphices processing unit</h2>
	
	Model name: <!--GPUNameField--><br />
	Total memory: <!--GPUTotalMemoryField--> MB<br />
	
</center>
<div id="containerGPU" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

<center>
	<h2>Memory</h2>
	
</center>

<div id="containerMemory" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
	</body>
</html>
